/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "bootstrap";
@import "bootstrap-compass";
@import "compass/reset";
body{
	padding-top: 50px;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: right;
	}
}
//.navbar-default .navbar-nav > a,
//.navbar-default .navbar-nav > a:hover,
//.navbar-default .navbar-nav > a:focus{
//	background-color: #4D0B33;
//	color: #fff;
//}
//.nav-pills{
//	float: right;
//}
//.navbar-default{
//	background-color: #C70757;
//}
//.navbar-default {
//	.navbar-nav > .active > a{
//		background-color: #4D0B33;
//		color: #fff;
//	}
//	.navbar-nav > li >a {
//		color: #fff;
//	}
//}
.waterStation{
	.carousel{
		height: 500px;
		margin-bottom: 60px;
	}
	.item{
		img{
			width: 100%;
			min-height: 300px;
		}
	}
	@media (max-width: 768px){
		.carousel{
			height: 300px;
			margin-bottom: 60px;
		}
		.feature-heading {
			font-size: 34px;
		}
		.feature-heading .text-muted {
			font-size: 22px;
		}
	}
	@media (min-width: 992px){
		.feature-heading {
			margin-top: 120px;
		}
	}
	.feature-heading {
		font-size: 50px;
		color: #2a6496;
		margin-bottom: 10px;
		.text-muted{
			font-size: 28px;
		}
	}
	.col-md-4{
		text-align: center;
		margin-bottom: 20px;
		h2{
			font-size: 30px;
			padding: 20px 0;
		}
		p{
			font-size: 14px;
			line-height: 1.5em;
		}
		.btn{
			margin: 15px 0;
		}
	}
	.feature-divider{
		margin: 40px 0;
	}
	.feature{
		padding: 30px 0;
	}
	.bg-white{
		background-color: #fff;
	}
	.p-y-xl{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.b-b{
		border-top: 1px solid rgba(0, 40, 70, .3);
	}
	.m-b-md{
		margin-bottom: 24px;
	}
	.m-t {
		margin-top: 16px !important;
	}
	.fa-4x{
		font-size: 4em;
	}
	.m-t-0{
		margin-top: 24px;
		margin-bottom: 12px;
	}
	.wrap{
		width: 100%;
		margin: 0 auto;
	}
	.ptbg2{
		background-color: #049fbb;
		height: auto;
		padding: 50px 15px;
		text-align: center;
		color: #fff;
	}
	.pjbg {
		margin: 50px auto 20px;
		background-color: #028AA2;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		display: table;
		span{
			font-size: 40px;
			color: #fff;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
		}
		img{
			width: 70%;
			max-width: 100%;
		}
	}
	.coustomer{
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 24px;
	}
	.coustomerName{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: bold;
	}
	.company{
		margin: 0 0 10px;
	}
	.info {
		width: auto;
		height: auto;
		margin-top: 20px;
		padding: 30px 20px;
		background-color: #028AA2;
		p{
			text-align: left;
			font-size: 12px;
			line-height: 1.5em;
		}
	}
	.homer{
		text-align: center;
		margin: 100px 0 50px 0;
		p{
			color: #888;
		}
	}
	.contact {
		padding: 30px;
		display: inline-block;
		.fa {
			color: #666;
			font-size: 16px;
			padding: 8px;
			background: #049fbb;
			color: #fff;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			margin-right: 5px;
			display: inline-block;
			font-size: 2em;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		span{
			color: #049fbb;
			font-size: 38px;
		}
	}
	.list-inline {
		padding-left: 0;
		margin-left: -5px;
		list-style: none;
	}

}
